.navbar {
    background-color: #0DCAF0;
}
.footer {
    /* Позиционируем footer внизу main */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Высота footer по умолчанию */
    height: 30px;
    color: brown;
}
.icon_pass {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(310px, 20px);
    cursor: pointer;
}
.container {
    width: 500px;
    padding-left: 150px;
    text-align: left;
}
